@function baseline($units: 1) {
  @return $units * $document-base-line;
}

@mixin vertical-rhythm($padding-top: 0, $padding-bottom: 0, $margin-top: 0, $margin-bottom: 0, $font-variant: '') {
  $padding-top-correction: 0;
  $padding-bottom-correction: 0;

  @if ($font-variant != '') {

    $font-variant-info: map-get($font-variants, $font-variant);
    $font-size: map-get($font-variant-info, 'font-size');
    $rows: map-get($font-variant-info, 'rows');
    $percentage-till-base-line: map-get($font-variant-info, 'base-line');


    $pixels-till-base-line: $rows * $document-base-line * $percentage-till-base-line;
    $leading: $rows * $document-base-line - $pixels-till-base-line;
    $padding-top-correction: $leading % $document-base-line;
    $padding-bottom-correction: ($document-base-line - $padding-top-correction) % $document-base-line;

    line-height: $rows * $document-base-line;
    font-size: $font-size;
  }

  @if ($padding-top > 0 or $padding-top-correction > 0) {
    padding-top: baseline($padding-top) + $padding-top-correction;
  }
  @if ($padding-bottom > 0 or $padding-bottom-correction > 0) {
    padding-bottom: baseline($padding-bottom) + $padding-bottom-correction;
  }

  // Margins.
  @if ($margin-top > 0) { margin-top: baseline($margin-top); }
  @if ($margin-bottom > 0) { margin-bottom: baseline($margin-bottom); }
}