@mixin vertical-rhythm($top, $bottom, $size-name: '') {
  //$offset: 0px;
  //
  //@if ($size-name) {
  //  $font-size: map-get($font-sizes, $size-name);
  //  $cap-height: map-get($cap-heights, $size-name);
  //
  //  font-size: $font-size;
  //  padding-top: ($baseline-height - $cap-height * $font-size) + ($top * $baseline-height);
  //}

  $font-size: map-get($font-sizes, $size-name);
  $cap-height: map-get($cap-heights, $size-name);

  $box-height: $font-size * $line-height;
  $cap-height-in-pixels: $box-height * $cap-height;

  $rows: $line-height * $font-size / $baseline;

  @if ($cap-height-in-pixels > (floor($rows) * $baseline)) {
    $offset: (ceil($rows) * $baseline) - $cap-height-in-pixels;
    $box-height-with-top: $box-height + $offset;
    padding-bottom: ceil($rows + 1) * $baseline - $box-height-with-top;
    padding-top: $offset;
    @debug 'if';
  }
  @else {
    @debug 'else';
    $offset: (floor($rows) * $baseline) - $cap-height-in-pixels;
    $box-height-with-top: $box-height + $offset;

    padding-bottom: ceil($box-height-with-top / $baseline) * $baseline - $box-height-with-top;
    padding-top: $offset;
  }

  line-height: $line-height;
  font-size: $font-size;
}