html {
  font-family: 'Open Sans', sans-serif;
  @include visualize-vertical-rhythm();
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1 {
  margin: 0;
  @include vertical-rhythm(1, 1, xl);
}

h2 {
  margin: 0;
  @include vertical-rhythm(0, 0, l);
}


h3 {
  margin: 0;
  @include vertical-rhythm(0, 0, m);
}


h4 {
  margin: 0;
  @include vertical-rhythm(1, 0, s);
}

p {
  margin: 0;
  @include vertical-rhythm(1, 0, s);
}

* {
  box-sizing: border-box;
}