html {
  font-family: 'Open sans', sans-serif;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  //height: 100%;
}

body {
  counter-reset: section;
  padding: 0 $document-row-size;
}

h1, h2, h3, h4, p {
  margin: 0;
  
  &.suffix {
    display: inline-block;
    vertical-align: top;
    margin-left: ($document-row-size / 2);
  }
}

h1 {
  @include vertical-rhythm(0, 2, 0, 0, xl);
}

h2 {
  @include vertical-rhythm(0, 1, 0, 0, l);
}


h3 {
  @include vertical-rhythm(1, 1, 0, 0, m);
  color: orangered;
}

h4 {
  @include vertical-rhythm(1, 0, 0, 0, s);
}

p {
  @include vertical-rhythm(0, 0, 0, 0, s);
}

* {
  box-sizing: border-box;
}

::selection {
  background: rgba(orangered, .4);
}

*:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: none;
}

a {
  color: orangered;
}

pre {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  height: auto;
}