.button {
  border-radius: 5px;
  background: orangered;
  @include vertical-rhythm(0, .2, 1, .8, m);
  padding-left: $document-base-line;
  padding-right: $document-base-line;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;

}