.button {
  border-radius: 5px;
  background: orangered;
  padding-left: $document-row-size;
  padding-right: $document-row-size;
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: all $speed $easing;
  position: relative;

  &:not(.round) {
    @include vertical-rhythm(0, 0, 1, 1, m, 2px, 2px);
    font-weight: bold;
    border: 2px solid orangered;

    &:after {
      content: '';
      opacity: 0;
      background-image: url('../images/loading-stripes.gif');
      transform: scaleX(-1);
      position: absolute;
      transition: opacity $speed $easing;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }

    &:hover,
    &.active {
      background-color: transparent;
      border-color: orangered;

      &:after {
        opacity: .1;
      }
    }
  }

  &.round {
    border-radius: 40px;
    @include vertical-rhythm(.5, 0, .5, 0, s);
    font-weight: bold;

    &:hover,
    &.active {
      background-color: white;
      color: orangered;
    }
  }
}