.section {
  @include vertical-rhythm(2, 2);
  @include clearfix;
  position: relative;
}

.section:nth-child(odd) {
  .section-content {
    @include grid-span(5, 1);
    clear: both;
  }

  .section-code {
    @include grid-span(5, 8);
  }

  .section-image {
    @include grid-span(5, 8);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}


.section:nth-child(even) {
  .section-content {
    @include grid-span(5, 8);
    clear: both;
  }

  .section-code {
    @include grid-span(5, 1);
  }

  .section-image {
    @include grid-span(5, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.section-code {
  background-color: #111111;
  @include vertical-rhythm(1, 0, 3, 0, s);
  padding-left: baseline();
  padding-right: baseline();

  span {
    //@include vertical-rhythm(0, 0, 0, 0, s);
  }
}

.section.introduction .section-image {
  .baseline-text {
    position: absolute;
    top: baseline(10);
    right: 0;
    width: 100%;
    @include vertical-rhythm(0, 0, 0, 0, s);
    color: orangered;
    text-align: right;
    border-bottom: 2px solid orangered;
  }

  .line-height-text {
    width: 100%;
    position: absolute;
    text-align: right;
    top: baseline(7);
    right: 0;
    color: orangered;
    @include vertical-rhythm(0, 0, 0, 0, s);
    border-bottom: 2px solid orangered;

  }

  .letters {
    @include vertical-rhythm(1, 0, 0, 0, xxxl);
    transform: translateX(-17px);
    position: relative;
  }
}

.section.helper-visualize .section-image {
  .letters {
    @include vertical-rhythm(1, 0, 6, 0, l);
    @include visualize-vertical-rhythm();
  }

  .letters-inner {
    margin-left: -2px;
  }
}

.section.installation .section-image {
  top: baseline(6);
  bottom: baseline(3);
  background: url('../images/bower-logo.svg') no-repeat center center;
  background-size: contain;
}

.section.helper-visualize-grid .section-image {
  top: baseline(4);
  bottom: baseline(1);
  @include vertical-rhythm(0, 0, 2, 2);
  @include vertical-rhythm-grid('000000');
}

.section.vertical-rhythm .section-image {
  @include vertical-rhythm(3);
}