.section-title {
  @include vertical-rhythm(0, 0, 0, 1, l, 0, 2px);
  position: relative;

  border-bottom: 2px solid orangered;

  &:before {
    counter-increment: section;
    content: counter(section);
    background: orangered;
    border-radius: 50%;
    display: block;
    width: 48px;
    height: 48px;
    font-size: 24px;
    text-align: center;
    color: white;
    line-height: 48px;
    left: 0;
    transform: translateX(-100%) translateX(-($document-base-line));
    padding: 0;
    position: absolute;
  }
}
