.site-header {
  position: relative;
  @include clearfix;
  @include vertical-rhythm(2, 1);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    transition: opacity $speed $easing;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    height: 100%;
    background: url('../images/Wood_letterpress_blocks.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
  }

  h1, h2, h3 {
    color: white;
    clear: left;
  }

  h1 {
    @include grid-span(7, 1);
    clear: none;
  }

  .button-wrapper {
    clear: both;
    @include vertical-rhythm(0, 2);

    em {
      user-select: none;
      font-weight: normal;
    }
  }

  .toggle-grid-visibility {
    float: right;
    margin-left: -100%;
    margin-top: baseline(1.5);

    &:hover {
      background-color: orangered;
      color: white;
    }
  }
}

.has-visible-vertical-rhythm-grid {
  .site-header:before {
    opacity: .5;
  }

  .toggle-grid-visibility {
    background-color: white;
    color: orangered;

    &:hover {
      background-color: white;
      color: orangered;
    }
  }
}