body {
  &.has-visible-vertical-rhythm-grid {
    &:before {
      z-index: 100;
      position: fixed;
      content: '';
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 100%;
      @include vertical-rhythm-grid('00ffff');
    }
  }

  &.has-visible-horizontal-grid {
    &:after {
      z-index: -1;
      position: fixed;
      content: '';
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      max-width: $max-width;
      width: 100%;
      @include background-grid($color: rgba(green, .3));
    }
  }

  &.has-visible-vertical-rhythm-helpers {
    h1, h2, h3, h4, p {
      @include visualize-vertical-rhythm();
    }
  }
}