$document-base-line: 24px;

$font-variants:  (
  s: (
    font-size: 16px,
    base-line: 0.78417266187,
    rows: 1
  ),
  m: (
    font-size: 30px,
    base-line: 0.78417266187,
    rows: 2
  ),
  l: (
    font-size: 52px,
    base-line: 0.78417266187,
    rows: 3
  ),
  xl: (
    font-size: 50px,
    base-line: 0.78417266187,
    rows: 3
  )
);