$document-row-size: 22px;

$font-presets:  (
  s: (
    font-size: 15px,
    base-line: 0.880,
    rows: 1,
    font-weight: 300,
    text-indent: 0,
    font-style: normal
  ),
  m: (
    font-size: 32px,
    base-line: 0.880,
    rows: 2,
    font-weight: 300,
    text-indent: 0,
    font-style: normal
  ),
  l: (
    font-size: 28px,
    base-line: 0.880,
    rows: 2,
    font-weight: 300,
    text-indent: 0,
    font-style: normal
  ),
  xl: (
    font-size: 74px,
    base-line: 0.880,
    rows: 4,
    font-weight: 600,
    text-indent: 0,
    font-style: normal
  ),
  xxxl: (
    font-size: 170px,
    base-line: 0.880,
    rows: 16,
    font-style: normal
  )
);

$max-width: 1100px;

$speed: .4s;
$easing: cubic-bezier(.53,.06,.33,.85);


