$baseline: 24px;

$font-variants:  (
  s: (
    font-size: 16px,
    cap-height: 0.62,
    line-height: 1.5
  ),
  m: (
    font-size: 30px,
    cap-height: 0.64,
    line-height: 1.5
  ),
  l: (
    font-size: 38px,
    cap-height: 0.66,
    line-height: 1.5
  ),
  xl: (
    font-size: 80px,
    cap-height: 0.70,
    line-height: 1.5
  )
);