@mixin vertical-rhythm-grid($color1: '#0000ff', $color2: '#ffffff', $size: 1) {
  $encodeMap:(
          '%"':'%25%22',
          '<':'%3C',
          ' ':'%20',
          '=':'%3D',
          '\"':'%22',
          ':':'%3A',
          '/':'%2F',
          '.':'%2E',
          '>':'%3E',
          '#':'%23',
          '-':'%2D'
  );

  $SVG: '<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="#{$size * 2}" height="#{strip-unit($document-row-size)}" viewBox="0 0 #{$size * 2} #{strip-unit($document-row-size)}">';
  $SVG: $SVG + '<rect width="#{$size}" height="1" x="0" y="0" fill="#{$color1}"/><rect width="#{$size}" height="1" x="#{$size}" y="0" fill="#{$color2}"/></svg>';

  @each $char, $code in $encodeMap {
    $index: str-index($SVG, $char);
    @while $index {
      $index: str-index($SVG, $char);
      $SVG: str-slice($SVG, 1, $index - 1) + $code + str-slice($SVG, $index + str-length($char));
      $index: str-index($SVG, $char);
    }
  }

  background-image: url('data:image/svg+xml,' + $SVG);
}
