@function baseline($units: 1) {
  @return $units * $document-row-size;
}

@function round-to-number($value-to-round, $round-to) {
  @return round($value-to-round / $round-to) * $round-to;
}

@mixin vertical-rhythm(
  $padding-top: 0,
  $padding-bottom: 0,
  $margin-top: 0,
  $margin-bottom: 0,
  $font-preset: '',
  $border-top-width: 0,
  $border-bottom-width: 0
) {
  $padding-top-correction: 0;
  $padding-bottom-correction: 0;

  @if ($font-preset != '') {
    $font-preset-info: map-get($font-presets, $font-preset);

    @if ($font-preset-info) {
      $font-weight: map-get($font-preset-info, 'font-weight');
      $text-indent: map-get($font-preset-info, 'text-indent');
      $font-style: map-get($font-preset-info, 'font-style');

      $font-size: map-get($font-preset-info, 'font-size');
      $rows: map-get($font-preset-info, 'rows');
      $base-line: map-get($font-preset-info, 'base-line');

      $initial-font-base: (($document-row-size * $rows) / 2) + ($base-line - 0.5) * $font-size;
      $wanted-font-size: round-to-number($initial-font-base, $document-row-size);
      $padding-top-correction: $wanted-font-size - $initial-font-base;

      @if ($padding-top-correction < 0) {
        $padding-top-correction: $document-row-size + $padding-top-correction;
      }
      $padding-bottom-correction: $document-row-size - $padding-top-correction;

      line-height: $rows * $document-row-size;
      font-size: $font-size;
      text-indent: $text-indent;
      font-weight: $font-weight;
      font-style: $font-style;
    }
    @else {
      @error 'Missing font preset: ' + $font-preset;
    }
  }

  @if ($padding-top > 0 or $padding-top-correction > 0) {
    padding-top: baseline($padding-top) + $padding-top-correction;
  }
  @if ($padding-bottom > 0 or $padding-bottom-correction > 0) {
    padding-bottom: baseline($padding-bottom) + $padding-bottom-correction;
  }

  @if ($margin-top > 0 or $border-top-width) { margin-top: baseline($margin-top) - $border-top-width; }
  @if ($margin-bottom > 0 or $border-bottom-width) { margin-bottom: baseline($margin-bottom) - $border-bottom-width; }
}
