@function baseline($units: 1) {
  @return $units * $document-base-line;
}

@mixin vertical-rhythm(
  $padding-top: 0,
  $padding-bottom: 0,
  $margin-top: 0,
  $margin-bottom: 0,
  $font-variant: '',
  $border-top-width: 0,
  $border-bottom-width: 0,
  $fiddling: false
) {
  $padding-top-correction: 0;
  $padding-bottom-correction: 0;
  $percentage-till-base-line: 0;

  @if ($font-variant != '') {

    $font-variant-info: map-get($font-variants, $font-variant);
    $font-size: map-get($font-variant-info, 'font-size');
    $orig-font-size: 60px;
    $orig-rows: 4;

    $rows: map-get($font-variant-info, 'rows');
    $original-percentage-till-base-line: map-get($font-variant-info, 'base-line');

    @if ($fiddling) {
      $percentage-till-base-line: $original-percentage-till-base-line;
    }
    @else {
      // Changing rows.
      $percentage-till-base-line: 0.5 + (
        (($original-percentage-till-base-line - 0.5) / $rows) * $orig-rows
      );

      // Changing font-size.
      $factor-font-size: $font-size / $orig-font-size;

      @warn $factor-font-size;

      $percentage-till-base-line: 0.5 + (
        ($percentage-till-base-line - 0.5) * $factor-font-size
      );
    }

    $pixels-till-base-line: $rows * $document-base-line * $percentage-till-base-line;
    $leading: $rows * $document-base-line - $pixels-till-base-line;
    $padding-top-correction: $leading % $document-base-line;
    $padding-bottom-correction: ($document-base-line - $padding-top-correction) % $document-base-line;

    line-height: $rows * $document-base-line;
    font-size: $font-size;
  }

  @if ($padding-top > 0 or $padding-top-correction > 0) {
    padding-top: baseline($padding-top) + $padding-top-correction;
  }
  @if ($padding-bottom > 0 or $padding-bottom-correction > 0) {
    padding-bottom: baseline($padding-bottom) + $padding-bottom-correction;
  }

  @if ($margin-top > 0 or $border-top-width) { margin-top: baseline($margin-top) - $border-top-width; }
  @if ($margin-bottom > 0 or $border-bottom-width) { margin-bottom: baseline($margin-bottom) - $border-bottom-width; }
}
