@mixin visualize-vertical-rhythm() {
  background: rgba(red, .2);
  position: relative;
  background-clip: content-box;
  &:after {
    background: linear-gradient(to bottom, #e6e6e6 50%, #d1d5d6 100%);
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
